:root{
    --font-color:#555;
    --font-hover-color:rgb(63, 151, 51);
}
body{

    height:100vh;
    font-family:"Raleway", sans-serif;

}

.confirmation {

    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-container{
 
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    padding:.1rem;
    background-color:#fff;
}

.form-group{
    margin-bottom:1.5em;
    transition:all .3s;
}

.form-label{

    font-size:.75em;
    color:var(--font-color);
    display:block;
    opacity:0;
    transition: all .3s;
    transform:translateX(-50px);

}

@media only screen and  (min-width: 515px) {

#contact-container {

/* use percent because flexible */
    padding: 1% 10%; 

  }

}

@media only screen and  (min-width: 770px) {

            .form-control{
                box-shadow:none;
                border-radius:0;
                border-color:#ccc;
                border-style:none none solid none;
                width:100%;
                font-size:1.25em;
                transition:all .6s;
            }

                    .form-control::placeholder{
                        color:#aaa;
                    }
            .form-control:focus{

                box-shadow:none;
                border-color:var(--font-hover-color);
                outline:none;

            }

            .form-group:focus-within{
                transform:scale(1.1,1.1);
            }

                .form-control:invalid:focus{
                    border-color:red;
                }

            .form-control:valid:focus{
                border-color:#33a532;
            }

}

button.contact-btn {

    background: 0 0 #fff;
    border:2px solid #aaa;
    border-radius:3px;
    color:var(--font-color);
    font-size:1em;
    margin:3rem 0 0 1rem;
    text-transform:uppercase;

}

button.contact-btn:hover{

    border-color:var(--font-hover-color);
    color:var(--font-hover-color);
    border-color: #33a532;
 }

textarea {

    resize:none;

}

.focused > .form-label{
    opacity:1;
    transform:translateX(0px);

}

.form-invalid {

    outline:1.5px solid red !important;
}